<div class="container">
  <div class="row">
    <div class="col-4" style="font-size: smaller;">*為必填
    </div>
    <div class="col">
      <h3>請修改你的支出</h3>
      </div>
  </div>
</div>
<form action="/expenses/{{ expense._id }}?_method=PUT" method="POST">
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">項目名稱*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" value="{{ expense.name }}" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="setDateMax" class="col-sm-2 col-form-label">日期*</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="setDateMax" name="date" value="{{ expense.date }}" required>
    </div>
  </div>
   <div class="row mb-3">
    <label for="categoryName" class="col-sm-2 col-form-label" >類別*</label>
    <div class="col-sm-10">
      <select class="form-select" id="categoryName" name="categoryName" style="width: 100%;" >
        <option value="{{categorySelect}}"  selected="selected"  >{{categorySelect}}</option>
        {{#each categories}}
        <option value="{{ this.name }}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
     <div class="row mb-3">
      <label for="amount" class="col-sm-2 col-form-label">金額*</label>
      <div class="col-sm-10">
        <input type="number" min="0" class="form-control" id="amount" name="amount" value="{{ expense.amount }}" required>
    </div>
  </div>
  <div style="display:flex; align-items:center; justify-content:center; height:100px;">
    <button type="submit" class="btn btn-primary" style="width: 30%;">修改支出</button>
  </div>
</form>
<div style="display:flex; align-items:center; justify-content:center;">
  <a class="btn btn-primary" style="width: 30%;" href="/" >回上一頁</a>
</div>